.navbar a{
    color: #fff;
}
.navbar-nav li{
    color: #000;
}
.navbar{
    width: 100%;
}
body{
    background-color: rgba(100, 148, 237, 0.623);
}
.bgimg{
    background-image: radial-gradient(#008c9e,#095092);
    height: 100%;
}
.lista{
    list-style-type: none;
    padding: 0;
}
.img{
    border-radius: 5%;
}
.img1{
    width: 80%;
    height: 80%;
    border-radius: 5%;
}
.lista1{
    padding: 0 10% 0 10%;
}
.body{
    font-size: 20px;
}
.img2{
    width: 100%;
}
.img3{
    float: left;
}
.img4{
    border-radius: 2%;
}
